:root {
  --color-background: #90b4ce;
  --color-white: #fffffe;
  --color-heading: #094067;
  --color-paragraph: #5f6c7b;
  --color-primary: #3da9fc;
  --color-secondary: #ef4565;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Robot', sans-serif;
  color: var(--color-white);

  background-color: var(--color-background);
  /* background: linear-gradient(0deg, #007ea7 10%, #005878 90%); */
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
  outline: none;
}
