* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #007EA7;
  background: linear-gradient(0deg, #007EA7 10%, #005878 90%);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.canvas {
  background-color: white;
  width: calc(100% - 60px);
  max-width: 500px;
  height: auto;
  margin: 2px;
  cursor: crosshair;
}

.pres-container {
  min-width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 28px;
}

.pres-player {
  user-select: none;
  text-align: center;
  padding: 10px;
}

.pres-name {
  user-select: none;
  text-align: center;
  padding: 10px;
  opacity: 0;
}

.pres-drawing {
  user-select: none;
  max-width: 500px;
  width: 100%;
  height: auto;
  background-color: white;
  opacity: 0;
}

.displayed {
  display: flex !important;
}

.show {
  opacity: 1 !important;
}