* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background: #007EA7;
  background: linear-gradient(0deg, #007EA7 10%, #005878 90%);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-home-button {
  position: fixed;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.main-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #007EA7cc;
  justify-content: center;
  align-items: center;
}

.main-modal-active {
  display: flex !important;
}

.main-modal-text {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #005878;
}

.main-modal-button-container {
  display: flex;

}

.main-modal-button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #003249;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

/*----HOME----*/

.home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-logo {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 20px;
}

.home-error {
  color: #a42424;
  font-size: 20px;
  background-color: #ff9797;
  padding: 10px;
  border-radius: 20px;
}

.home-name {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1.5em;
  text-align: center;
  outline:none;
  width: 95%;
  max-width: 330px;
}

.home-name-count {
  font-size: 20px;
}

.home-inputs {
  display: flex;
  flex-direction: column;
  margin: 40px 10px 10px 10px;
  background-color: #005878;
  border-radius: 20px;
  padding: 20px;
}

.home-button {
  background-color: #003249;
  border: none;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.5em;
  outline:none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.home-button:active {
  background-color: #00547b;
}

.home-join {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.home-code {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  outline:none;
  width: 100%;
}

/*----LOBBY----*/

.lobby {
  max-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.lobby-room {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background-color: #003249;
  border-radius: 20px;
}

.lobby-room span {
  font-size: 14px;
  font-weight: 400;
  user-select: none;
}

.lobby-players-list {
  flex: 1;
  background-color: white;
  border: 5px solid #003249;
  max-height: calc(100vh - 200px);
  margin: auto 0;
  border-radius: 20px;
  overflow-y: auto;
}

.lobby-player {
  display: block;
  width: 100%;
  font-weight: 600;
  padding: 10px;
  color: #003249;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lobby-start {
  background-color: #003249;
  border: none;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.5em;
  outline:none;
  cursor: pointer;
}

/*----WAIT----*/

.wait {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wait-text {
  text-align: center;
}

/*----PROBLEM----*/

.problem {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.problem-prompt {
  text-align: center;
  font-size: 2.5em;
  padding: 10px;
  margin-bottom: 20px;
}

.problem-input {
  width: 95%;
  max-width: 330px;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  color: black;
  outline: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

.problem-input-count {
  font-size: 20px;
}

.problem-submit {
  background-color: #003249;
  border: none;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.5em;
  outline:none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

/*----DRAWING----*/

.drawing {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vmin;
}

.drawing-label {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.drawing-inputs {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.drawing-name {
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-size: 1.2em;
  outline:none;
  flex: 1;
  min-width: 100px;
  max-width: 250px;
  margin-right: 5px;
}

.drawing-name-count {
  font-size: 20px;
  margin-right: 10px;
}

.drawing-submit {
  background-color: #003249;
  border: none;
  font-size: 1em;
  padding: 7px 10px;
  border-radius: 20px;
  font-weight: 600;
  outline:none;
  cursor: pointer;
}

.drawing-space {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  background-color: white;
  width: calc(100% - 60px);
  max-width: 500px;
  height: auto;
  margin: 2px;
  cursor: crosshair;
}

.drawing-colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9AD1D4;
  margin: 2px;
  padding: 10px;
  height: auto;
  border-radius: 20px;
}

.color {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.color:last-of-type {
  margin: 0;
}

.active-color {
  border-color: #f3ff82;
}

.black {
  background-color: #000;
}
.red {
  background-color: #df4b26;
}
.green {
  background-color: #228622;
}
.blue {
  background-color: #3a68cc;
}

/*----PRESENTATION----*/

.presentation {
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.pres-container {
  min-width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 28px;
}

.pres-player {
  user-select: none;
  text-align: center;
  padding: 10px;
}

.pres-name {
  user-select: none;
  text-align: center;
  padding: 10px;
  opacity: 0;
}

.pres-drawing {
  user-select: none;
  max-width: 500px;
  width: 100%;
  height: auto;
  background-color: white;
  opacity: 0;
}

.displayed {
  display: flex !important;
}

.show {
  opacity: 1 !important;
}

/*----VOTE----*/

.vote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.vote-left {
  margin: 5px;
  align-items: center;
  height: 35px;
  display: flex;
  font-weight: 600;
  font-size: 1.5em;
}

.vote-invention {
  width: 100%;
  max-width: 300px;
  margin: 10px
}

.vote-title {
  width: 100%;
  text-align: center;
  hyphens: auto;
}

.vote-canvas {
  background-color: white;
  width: 100%;
  height: auto;
}

.vote-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

.vote-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin: 5px;
  background-color: #ffd700;
  border: 2px solid #d9a225;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px #00000044, 1px 1px 2px #00000044;
}
.vote-coin::before {
  content: "1";
  color: #d9a225;
  text-shadow: 0 0 0 1px #00000044;
  font-size: 15px;
  font-weight: 600;
}

/*----RESULTS----*/

.results {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-title {
  font-size: 10vmin;
  padding: 15px;
  animation: suspense 1s ease;
}

.results-winner {
  font-size: 8vmin;
  padding: 8px;
  animation: suspense 4s ease;
}

@keyframes suspense {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.lb {
  background-color: #005878;
  padding: 20px;
  margin-top: 50px;
  border-collapse: collapse;
  border-radius: 20px;
  animation: suspense 5s ease;
}

.lb-cell {
  font-size: 20px;
}

.lb-cell:first-of-type .lb-name{
  background-color: #003249;
  border-right: 1px solid white;
  border-top: none;
  border-top-left-radius: 20px;
}

.lb-cell:first-of-type .lb-votes{
  background-color: #003249;
  border-top: none;
  border-top-right-radius: 20px;
}

.lb-name {
  padding: 20px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.lb-votes {
  padding: 20px;
  border-top: 1px solid white;
  text-align: center;
}