.results-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-title {
  font-size: 10vmin;
  padding: 15px;
  animation: suspense 1s ease;
}

.results-winner {
  font-size: 8vmin;
  padding: 8px;
  animation: suspense 4s ease;
}

@keyframes suspense {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.results-leaderboard {
  background-color: #005878;
  padding: 20px;
  margin-top: 50px;
  border-collapse: collapse;
  border-radius: 20px;
  animation: suspense 5s ease;
}

.results-leaderboard-cell {
  font-size: 20px;
}

.results-leaderboard-cell:first-of-type .results-leaderboard-name {
  background-color: #003249;
  border-right: 1px solid white;
  border-top: none;
  border-top-left-radius: 20px;
}

.results-leaderboard-cell:first-of-type .results-leaderboard-votes {
  background-color: #003249;
  border-top: none;
  border-top-right-radius: 20px;
}

.results-leaderboard-name {
  padding: 20px;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.results-leaderboard-votes {
  padding: 20px;
  border-top: 1px solid white;
  text-align: center;
}
